<div class="card">
    <h2 class="text-center title mb-3">Reporte del Día Anterior</h2>
    <hr>

    <div class="contenedor">
        <div class="grafica">
            <canvas id="reporteDiaChart"></canvas>
        </div>

        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>Incidencias</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Despertar nocturno</td>
                        <td>02:30 AM</td>
                    </tr>
                    <tr>
                        <td>Sueño ligero</td>
                        <td>04:15 AM</td>
                    </tr>
                    <tr>
                        <td>Despertar repentino</td>
                        <td>06:00 AM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>