<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="contenedor-tarjeta">
            <div class="w-full surface-card py-8 px-5 sm:px-8">
                <div class="text-center mb-5 upper-segment">

                    <div>
                        <a type="button" class="p-link layout-topbar-button" routerLink="/login">

                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#1f1f1f">
                                <path d="M360-240 120-480l240-240 56 56-144 144h488v-160h80v240H272l144 144-56 56Z" />
                            </svg>
                        </a>
                    </div>
                    <div>
                        <p>Crear tu Cuenta</p>
                    </div>

                    <div></div>
                </div>


                <a routerLink="/wake-sense/home"
                    class="w-full p-3 text-xl google-btn flex align-items-center justify-content-center google">
                    <img src="../../../../../assets/images/google.png" alt="Google" class="imagen">
                    Ingresar con Google
                </a>

                <hr class="my-4 divider">

                <form (ngSubmit)="onSubmit()" [formGroup]="registroForm">

                    <div class="mb-5">
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Correo Electrónico</label>
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-envelope custom-icon"></i>
                            <input formControlName="email" id="email" type="email" placeholder="Correo Electrónico"
                                pInputText class="w-full" />
                        </span>
                        <div *ngIf="registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty || registroForm.get('email')?.touched)"
                            class="text-red-500 text-sm">
                            <span *ngIf="registroForm.get('email')?.errors?.['required']">El correo es
                                obligatorio.</span>
                            <span *ngIf="registroForm.get('email')?.errors?.['email']">Ingrese un correo válido.</span>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="password" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                        <span class="p-input-icon-left p-input-icon-right w-full">
                            <i class="pi pi-lock custom-icon"></i>
                            <input formControlName="password" id="password" [type]="showPassword ? 'text' : 'password'"
                                placeholder="Contraseña" pInputText class="w-full" />
                            <i class="pi cursor-pointer" [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
                                (click)="togglePasswordVisibility('password')">
                            </i>
                        </span>
                        <div *ngIf="registroForm.get('password')?.invalid && (registroForm.get('password')?.dirty || registroForm.get('password')?.touched)"
                            class="text-red-500 text-sm">
                            <span *ngIf="registroForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
                            <span *ngIf="registroForm.get('password')?.errors?.['minlength']">Debe tener al menos 6 caracteres.</span>
                            <span *ngIf="registroForm.get('password')?.errors?.['passwordStrength']">
                                Debe contener al menos una letra mayúscula y un número.
                            </span>
                        </div>
                    </div>

                    <div class="mb-5">
                        <label for="confirmPassword" class="block text-900 font-medium text-xl mb-2">Confirmar
                            Contraseña</label>
                        <span class="p-input-icon-left p-input-icon-right w-full">
                            <i class="pi pi-lock custom-icon"></i>
                            <input formControlName="confirmPassword" id="confirmPassword"
                                [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirmar Contraseña"
                                pInputText class="w-full" />
                            <i class="pi cursor-pointer" [ngClass]="showConfirmPassword ? 'pi-eye-slash' : 'pi-eye'"
                                (click)="togglePasswordVisibility('confirmPassword')">
                            </i>
                        </span>
                        <div *ngIf="registroForm.get('confirmPassword')?.invalid && (registroForm.get('confirmPassword')?.dirty || registroForm.get('confirmPassword')?.touched)"
                            class="text-red-500 text-sm">
                            <span *ngIf="registroForm.get('confirmPassword')?.errors?.['required']">Debe confirmar la
                                contraseña.</span>
                            <span *ngIf="registroForm.hasError('passwordMismatch')">Las contraseñas no coinciden.</span>
                        </div>
                        <small class="caption">Debe contener 6 caracteres, 1 letra mayúscula y un número</small>
                    </div>

                    <button title="Registrarse" pButton pRipple label="Registrarse"
                        class="w-full p-3 text-xl submit mt-5" type="submit" [disabled]="registroForm.invalid"></button>

                </form>



            </div>
        </div>
    </div>
</div>

<!-- Mensaje de error -->
<div *ngIf="error" class="text-danger text-center mt-3">{{ error }}</div>