<div class="card">
    <h2 class="text-center title mb-3">Objetivo de sueño</h2>
    <hr>

    <table>
        <thead>
          <tr>
            <th>Mes/Año</th>
            <th>Horas Deseadas</th>
            <th>Horas Efectivas</th>
            <th>Cumplido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Enero 2024</td>
            <td>210</td>
            <td>200</td>
            <td>Si</td>
          </tr>
          <tr>
            <td>Febrero 2024</td>
            <td>200</td>
            <td>190</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Marzo 2024</td>
            <td>220</td>
            <td>220</td>
            <td>Si</td>
          </tr>
        </tbody>
      </table>

</div>
