<div class="card">
    <h2 class="text-center title mb-3">Reporte de Sueño Acumulado</h2>
    <hr>

    <div class="contenedor">
        <div class="item">
            <div class="circulo">
                <span class="numero">7</span>
            </div>
            <p>Horas de Sueño</p>
        </div>

        <div class="item">
            <div class="circulo">
                <span class="numero">10</span>
            </div>
            <p>Horas de Actividad Total</p>
        </div>



    </div>
    <div class="incidencias">
        <p>Incidencias en el sueño (2)</p>
        <ul>
            <li>Sueño ligero constante</li>
            <li>Despierta durante la noche</li>
        </ul>
    </div>
</div>